
<div style="display:none ">
    <button id="tmp_option" type="button" class="btn btn-primary btn-blue"></button>

    <div id="user_link_printer">
        <span>
            1. Haz click en la siguiente <a target="_blank" href="printersetup"> liga </a>para descargar el archivo de configuración.<br />
        </span>
    </div>
    <div id="quiz_evaluate">
        <div>
            <h3 style="text-align:center">Evalúame</h3>
            <span>Por favor, selecciona el nivel de satisfacción de la atención brindada por Asistente 400</span>
            <br />
            <div style="text-align:center">
                <bold>
                    <button onclick="quiz_evaluateEventHandler(1)" type="button" class="btn1 btn-rating btn btn-primary btn-grey">1</button>
                    <button onclick="quiz_evaluateEventHandler(2)" type="button" class="btn2 btn-rating btn btn-primary btn-grey">2</button>
                    <button onclick="quiz_evaluateEventHandler(3)" type="button" class="btn3 btn-rating btn btn-primary btn-grey">3</button>
                    <button onclick="quiz_evaluateEventHandler(4)" type="button" class="btn4 btn-rating btn btn-primary btn-grey">4</button>
                    <button onclick="quiz_evaluateEventHandler(5)" type="button" class="btn5 btn-rating btn btn-primary btn-grey">5</button>
                </bold>
            </div>
        </div>
    </div>

</div>
